/*

| TEST CASE | DATE       | AUTHOR          | DESCRIPTION                                           |
|-----------|------------|-----------------|-------------------------------------------------------|
| TC_001    | 2026-08-18 | Adnan Sami Anirban | Test case description goes here                       |
| TC_002    | 2026-08-18 | Adnan Sami Anirban | Test case description goes here                       |

| REVISION | DATE       | AUTHOR          | DESCRIPTION                                            |
|----------|------------|-----------------|--------------------------------------------------------|
| 0.1      | 2026-08-18 | Adnan Sami Anirban | Initial version                                        |
| 1.0      | 2026-08-18 | Adnan Sami Anirban | Stable release                                         |

Author : Adnan Sami Anirban (adnananirban259@gmail.com)
This file is part of ADN-VLSI/adn_common
Copyright (c) 2026 ADN Semiconductors
Licensed under the MIT License
See LICENSE file in the project root for full license information

*/

module adn_common_dual_port_ram_tb;

  //////////////////////////////////////////////////////////////////////////////////////////////////
  // IMPORTS
  //////////////////////////////////////////////////////////////////////////////////////////////////

  // bring in the testbench essentials functions and macros
  `include "vip/adn_common_tb_headers.sv"

  //////////////////////////////////////////////////////////////////////////////////////////////////
  // LOCALPARAMS
  //////////////////////////////////////////////////////////////////////////////////////////////////
    localparam int DATA_WIDTH = 32;
    localparam int ADDR_WIDTH = 8;
    localparam CLOCK_PERIOD   = 10;
  //////////////////////////////////////////////////////////////////////////////////////////////////
  // SIGNALS
  //////////////////////////////////////////////////////////////////////////////////////////////////
    logic                   clk_i    ;
    logic                   wr_en_i  ;
    logic [ADDR_WIDTH-1:0]  wr_addr_i;
    logic [DATA_WIDTH-1:0]  wr_data_i;
    logic [ADDR_WIDTH-1:0]  rd_addr_i;
    logic [DATA_WIDTH-1:0]  rd_data_o;

    // Model Memory
    logic [DATA_WIDTH-1:0] model_mem [int unsigned];
    logic [DATA_WIDTH-1:0] rdata;
    logic [ADDR_WIDTH-1:0] waddr_q[$];


  //////////////////////////////////////////////////////////////////////////////////////////////////
  // VARIABLES
  //////////////////////////////////////////////////////////////////////////////////////////////////

  //////////////////////////////////////////////////////////////////////////////////////////////////
  // INTERFACES
  //////////////////////////////////////////////////////////////////////////////////////////////////

  //////////////////////////////////////////////////////////////////////////////////////////////////
  // CLASSES
  //////////////////////////////////////////////////////////////////////////////////////////////////

  //////////////////////////////////////////////////////////////////////////////////////////////////
  // ASSIGNMENTS
  //////////////////////////////////////////////////////////////////////////////////////////////////
  initial begin 
    clk_i = 0;
  end
  //////////////////////////////////////////////////////////////////////////////////////////////////
  // RTLS
  //////////////////////////////////////////////////////////////////////////////////////////////////

adn_common_dual_port_ram #(
    .DATA_WIDTH(DATA_WIDTH),
    .ADDR_WIDTH(ADDR_WIDTH)
)dut(
    .clk_i    (clk_i    ),
    .wr_en_i  (wr_en_i  ),
    .wr_addr_i(wr_addr_i),
    .wr_data_i(wr_data_i),
    .rd_addr_i(rd_addr_i),
    .rd_data_o(rd_data_o)
);

  //////////////////////////////////////////////////////////////////////////////////////////////////
  // METHODS
  //////////////////////////////////////////////////////////////////////////////////////////////////
task automatic start_clk;
  forever begin 
    #(CLOCK_PERIOD / 2);
    clk_i <= 1;
    #(CLOCK_PERIOD / 2);
    clk_i <= 0;
  end
endtask

task automatic write(input logic [DATA_WIDTH - 1:0] wdata, input logic [ADDR_WIDTH - 1:0] waddr, input logic wen = 'b1);
  @(posedge clk_i);
  wr_addr_i        <= waddr;
  wr_data_i        <= wdata;
  wr_en_i          <= wen;
  if (wen) model_mem[waddr] =  wdata;
endtask

task automatic read(output logic [DATA_WIDTH - 1:0] rdata, input logic [ADDR_WIDTH - 1:0] raddr);
  @(posedge clk_i);
  rd_addr_i        <= raddr;
  #1step;
  rdata            = rd_data_o;

endtask

task automatic check(input logic [ADDR_WIDTH - 1:0] waddr, input logic [DATA_WIDTH - 1:0] rdata);
  if(rdata === model_mem[waddr]) begin
    $display("[PASS]: At WADDR: %h, EXPECTED: %h, GOT: %h", waddr, model_mem[waddr], rdata);
    note_case(1);
  end else begin 
    $error("[FAIL]: At WADDR: %h, EXPECTED: %h, but GOT: %h", waddr, model_mem[waddr], rdata);
    note_case(0);
  end
endtask

task automatic simple_wr_rd;
    write('h3234, 'h10, '1);
    read (rdata, 'h10);
    check('h10, rdata);
endtask

task automatic multiple_wr();
    logic [ADDR_WIDTH - 1:0] rand_waddr = $urand();
    logic [DATA_WIDTH - 1:0] rand_wdata = $urand();
    logic                    rand_wen   = $urand();
    for (int i = 0; i<20; i++) begin 
      write(rand_waddr, rand_wdata, rand_wen);
    end


endtask




  //////////////////////////////////////////////////////////////////////////////////////////////////
  // SEQUENTIALS
  //////////////////////////////////////////////////////////////////////////////////////////////////

  //////////////////////////////////////////////////////////////////////////////////////////////////
  // PROCEDURALS
  //////////////////////////////////////////////////////////////////////////////////////////////////
  initial begin
    rdata = 0;
    fork
      start_clk();   
    join_none

    simple_wr_rd();





    repeat(5) @(posedge clk_i);
    $finish;

  end
endmodule
